<form ng-submit="vm.submit()">

    <div ng-if="!vm.isValidToken" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div ng-show="vm.isValidToken">
        <md-input-container class="ResetPassword-input">
            <label for ='password'>Password</label>
            <input type="password" id="password" ng-model="vm.password">
        </md-input-container>

        <md-input-container class="ResetPassword-input">
            <label for="conf_pass">Confirm Password</label>
            <input type="password" id="conf_pass" ng-model="vm.password_confirmation">
        </md-input-container>

        <md-button type="submit" class="md-primary md-raised">Submit</md-button>
    </div>

</form>
