<md-content class="Page-Container DemoHeader">
	<div layout="row">
		<div flex="90" flex-offset="5" class="DemoHeader-container">
			<div layout="row" layout-align="space-between">
				<img src="img/icons/logo.svg" ui-sref="app.landing" class="DemoHeader-logo"/>
				<div layout="row" layout-align="center stretch">
					<a hide-xs class="DemoHeader-link md-subhead" href="#/request" >Request</a>
					<a hide-xs class="DemoHeader-link md-subhead" href="#/" >Home</a>
					<a hide-xs class="DemoHeader-link md-subhead" href="#/login" >Log In</a>
				</div>
			</div>
		</div>
	</div>
</md-content>
<div class="DemoHeader-spacer"></div>