<md-content class="Page-container">
	<div><a ng-href="#/animes">Amines</a></div>
	<div><a ng-href="#/cartoons">Cartoons</a></div>
	<div><a ng-href="#/movies">Movies</a></div>
	<div><a ng-href="#/series">Series</a></div>
</md-content>
